/* ---------------------------------------------------------------------------------------
  Main Styles
 * --------------------------------------------------------------------------------------*/

.page-section {
	padding: 1.2rem 0;
	@include atMedium {
		padding: 4.5rem 0;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}
}

.generic-content-container {
	p {
		line-height: 1.65;
		margin: 1.8rem 0;
	}

	@include atSmall {
		font-size: 1.125rem;
	}

	p a {
		font-weight: 700;
		text-decoration: underline;
	}
}
